<section class="home">
  <div class="container">
    <h2>Simplest usecase</h2>
    
		<form class="canvasForm">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Canvas Dimention:</label>
          <div class="form-row">
            <div class="form-group col-md-5 col-5">
              <input name="canvasWidth" class="form-control" [(ngModel)]="canvasWidth">
            </div>
            <div class="form-group mid-text">
              <span>X</span>
            </div>
            <div class="form-group col-md-5 col-5">
              <input name="canvasHeight" class="form-control" [(ngModel)]="canvasHeight">
            </div>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label>Resource URL: </label>
          <input name="imageSrc" class="form-control" [(ngModel)]="imageSrc" size="100">
        </div>
      </div>

      <div class="form-group mb-2">
        <label>Samples URLs: </label>
        <p class="buttons">
          <button class="btn btn-outline-primary" *ngFor="let s of samples; let i = index" (click)="imageSrc = s.url">{{ s.label }}</button>
        </p>
      </div>
    </form>

    <ngx-imageviewer [src]="imageSrc" [width]="canvasWidth" [height]="canvasHeight"></ngx-imageviewer>
  </div>
</section>
